*,
*::after,
::before {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

:root {
  --primary-900: hsl(300, 43%, 22%);
  --primary-700: hsl(300, 48%, 34%);
  --primary-300: hsl(303, 10%, 53%);
  --primary-200: hsl(300, 49%, 93%);
  --primary-100: hsl(300, 24%, 96%);
  --accent-600: hsl(333, 100%, 65%);
  --accent-400: hsl(333, 80%, 67%);
  --accent-200: hsl(333, 86%, 75%);
  --accent-100: hsl(333, 97%, 87%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  display: grid;
  grid-template: "main";
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--primary-700);
  color: var(--primary-900);
  position: relative;
  z-index: 1;
}

#main {
  padding: 3vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-area: "main";
  background-color: var(--primary-100);
  transform-origin: center;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.starts,
.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: calc(2vw * 1.75);
}

.intro h1 {
  font-size: calc(2vw * 3.75);
  max-width: 35ch;
  line-height: 1.1;
  transition: color 300ms ease-in-out;
}

.intro h1:hover {
  color: var(--primary-700);
}

.intro p {
  max-width: 65ch;
  color: var(--primary-300);
  transition: color 300ms ease-in-out;
}

.intro p:hover {
  color: var(--accent-600);
}

.start {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.75rem 1.5rem;
  width: 100%;
  background-color: var(--primary-200);
  border-radius: 0.75rem;
  transition:all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

}

.start:hover {
    background-color: var(--accent-100);
}

.cards {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding: calc(2vw * 1.75);
}

.card {
  background-color: var(--primary-900);
  color: var(--White);
  border-radius: 0.75rem;
  padding: calc(2vw * 1.25);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 0 0.3rem var(--primary-300);
}

.card:hover {
  transform: translateY(-0.75rem);
  box-shadow: 0 0.1rem 0.6rem var(--primary-300);
  background-color: var(--primary-700);
}

.author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-block: .5rem;
}

.author-img img {
  border-radius: 100%;
  max-width: 3.5rem;
}

.author a {
  color: var(--accent-400);
  text-decoration: none;
}
.card p {
  padding-block: 0.5rem;
}

@media (min-width: 50rem) {
  #main {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro {
    align-items: flex-start;
    text-align: start;
  }
  .intro h1 {
    font-size: calc(2vw * 2.75);
    line-height: 1;
  }

  .cards {
    grid-column: 1 / 4;
    align-items: flex-end;
  }
}

@media (min-width: 60rem) {
  .start {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.75rem;
  }

  .start:nth-child(1):hover {
    margin-inline-end: calc(2vw * 1.15);
  }

  .start:nth-child(2) {
    margin-inline-end: calc(-2vw * 2.30);
  }
  .start:nth-child(2):hover {
    margin-inline-end: calc(-2vw * 1.15);
  }

  .start:nth-child(3) {
    margin-inline-end: calc(-2vw * 4.60);
  }


  .start:nth-child(3):hover {
    margin-inline-end: calc(-2vw * 3.30);
  }
  .cards {
    flex-direction: row;
  }

  .card:nth-child(1) {
    transform: translateY(-1rem);
  }
  .card:nth-child(2) {
    transform: translateY(2rem);
  }
  .card:nth-child(3) {
    transform: translateY(4rem);
  }

  .card:nth-child(1):hover {
    transform: translateY(-2rem);
  }
  .card:nth-child(2):hover {
    transform: translateY(1rem);
  }
  .card:nth-child(3):hover {
    transform: translateY(3rem);
  }


  .card h2 {
    font-size: 1rem;
  }
}


@media (min-width:70rem) {
    .start {
        max-width: 80%;
    }
}


#main[data-show-att="true"] {
    transform: translateY(10%);
}

header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: 3rem;
    aspect-ratio: 1;
    z-index: 101;
    border-radius: 100%;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

footer {
  position: absolute;
  top: 1rem;
  left: 50%;
  background-color: var(--primary-900);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--primary-700);
  z-index: -1;
  background-color: var(--primary-100);
  transform: translateX(-50%);
}

footer a {
  color: var(--primary-900);
}
